*{
    margin: 0;padding: 0;box-sizing: border-box;font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;

	overflow-y: overlay; 
}


body::-webkit-scrollbar-thumb {
    background: rgb(255, 199, 149);
    border-radius:20px;
    background-clip: content-box;
    border:0.4rem solid transparent;
    
    
    
    }
    
    body::-webkit-scrollbar-track-piece
    {
        display:none;
        
    }
    
    body::-webkit-scrollbar {
    width: 1.2rem;
    background: transparent;
    
    }
    
    
    
    
    




.main-img{
    width: 100%;
    filter: brightness(80%);
    margin: 0;
    margin-top: -105px;

}
.offer-img{
    width: 100%;
    height: 100vh;
    margin-top: -5px;

    z-index: -10;
    top: 0px;
    margin-bottom: -95vh;
    position: sticky;
    filter: brightness(80%);
}
.is_active{
    color: rgb(255, 199, 149);
}
.top{
    position: sticky;
    width: 100%;
    z-index: 100;

    top: 0px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
    
    justify-content: flex-end;
    display:flex;
    align-items: center;


}

.slogan h1{
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    right: 7%;
    top: 25vw;
    
}
.slogan h2{
    position: absolute;
    z-index: 1;
    right: 7%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    top: 30vw;
    color: rgba(255, 198, 149, 0.852);;
    

}

a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.top_right{

display: flex;
justify-content: right;
width: 80%;
padding-right: 5%;

    

}
.top_right .option{
    margin: 2%;
    text-align: center;
    
}

.top_right {
    list-style: none;
}
.top_right:hover{
    cursor: pointer;
}
.im{
    opacity: 0%;
}
.offer .all .under{
    opacity: 0%;
    transform: translate(-500px);
}

.offer{
    position: relative;
    height: fit-content;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.activated_offer .all .under:nth-child(1){
    transition: all ease 1s 0s;
    opacity: 100%;
    transform: translate(0)
}
.activated_offer .all .under:nth-child(2){
    transition: all ease 1s 0.4s;
    opacity: 100%;
    transform: translate(0)
}
.activated_offer .all .under:nth-child(3){
    transition: all ease 1s 0.7s;
    opacity: 100%;
    transform: translate(0)
}
.activated_offer .all .under:nth-child(4){
    transition: all ease 1s 1s;
    opacity: 100%;
    transform: translate(0)
}

.offers{
    width: 70%;
    height: 90%;

    

    
}
.offers h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(255, 199, 149);
    font-size: 40px;
    margin-bottom: 20px;
}
.under h3{
    color: rgba(255, 255, 255, 0.832);
    font-size: 17px;
    font-weight: 500;
    


}
.under{
    margin-bottom: 50px;
}
.under h2{
    font-weight: 500;
}
.each{
    display: flex;
    align-items: center;
    color: white;

    font-size: 20px;
    padding-bottom: 10px;
}
.under h3::after { 
    content:""; 

    display: block;
    position:absolute;
    margin-top: 10px;
    
    background:white; 
    width:100%; 
    height:3px; 
    border-radius: 3px;
  }
.each img{
    width: 60px;
    margin-right: 20px;
    margin-left: 5px;
}
.quali{
    height: fit-content;
    display: flex;
    align-items: center;
    padding-block: 100px;
    position: relative;

}
.quality{
    
    display: flex;
    align-items: center;

}

.quality img{
    width: 100%;
}
.quality_tex{
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 30px ;
    
    

}

.quality_tex h1{
    font-size: 45px;
    padding-right: 20px;
    width: 35%;
    font-weight: 300;
    color: rgb(255, 199, 149);

}
.quality_tex h2{
    font-size: 1.3vw;
    width: 30%;
    padding-block: 20px;
    border-left: 2px solid white;
    padding-left: 20px;
    filter: opacity(80%);
    


}

.gallery1{
    color: rgb(255, 255, 255);;
    height: fit-content;
    
    text-align: center;
    
}
.gallery1 h1{
    font-weight: 300;
    font-size: 40px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: row;
    flex-wrap: wrap;
}
.activated_gallery{
    transition: all 1s;
    opacity:100%;
}

.contact{
    color: white;
    width: 100%;
    padding-block: 25px;
    background-color: rgb(19, 19, 19);
    
}

.contact-mid{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}
.contact h1{
    text-align: left;

    font-weight: 300;
}
.contact-left{
    
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

    

}
.contact-left hr{
    border-color: rgb(129, 129, 129);
}
#map{
    width: 70%;
    filter: invert(100%)

}
.contact-left h2{
    font-size: 20px;
}

.contact-left div a {
    color: rgb(255, 199, 149);
    font-weight: 500;
    
}
.contact-left div i{
    padding-inline: 10px;padding-top: 6px; color:rgb(255, 199, 149); font-weight: 500;
}
.socials{
    padding-top:20px ;
    text-align: right;
}
.socials i{
    font-size: 35px;
}
.contact-right{
    width:50%;
    text-align: center;
}


footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(255, 199, 149);
    background-color: rgb(19, 19, 19);
    font-weight: 300;
    padding-right: 10px;
}
footer a{
    color: rgb(255, 199, 149);
    padding-right: 10px;
}












.thumbnail {
	cursor: pointer;
	margin: 32px;
	height: 300px;
	width: 400px;
	overflow: hidden;
}

.thumbnail img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.thumbnail img:focus,
.thumbnail img:focus {
	border: solid 5px rgb(0, 0, 0);
}

.popup {
	align-content: center;
	animation: fadeIn 0.3s;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
    z-index: 3000;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

.popup.hidden {
	display: none;
}

.popup.fade-out {
	animation: fadeOut 0.3s both;
}

.popup__img {
	max-height: 80%;
	max-width: 80%;
}

.popup__close {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	position: fixed;
	right: 20px;
	top: -20px;
}

.popup__arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;

	transform: translateX(-50%) translateY(-50%);
	width: 80px;
	height: 120px;
}

.popup__close,
.popup__arrow {
	opacity: 0.5;
	transition: opacity 0.3s;
}

.popup__close:hover,
.popup__arrow:hover {
	opacity: 1;
}

.popup__arrow--left {
	left: 0;
	margin-left: 40px;
}

.popup__arrow--right {
	right: -40px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.popup__close--icon {
	height: 60px;
	width: 60px;
	border-radius: 5px;
	position: relative;

}

.popup__close:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 50px;
	color: rgb(161, 161, 161);
	line-height: 100px;
	text-align: center;
	content: "\d7";
}

.popup__arrow--top,
.popup__arrow--bottom {
	background-color: rgb(165, 165, 165);
	height: 4px;
	position: absolute;
	top: 50%;
	width: 50%;
}
.popup__arrow--top:after,
.popup__arrow--bottom:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.15s;
}

.popup__arrow--top {
	transform: rotate(45deg);
	transform-origin: bottom right;
}
.popup__arrow--top:after {
	left: 100%;
	right: 0;
	transition-delay: 0s;
}
.popup__arrow--bottom {
	transform: rotate(-45deg);
	transform-origin: top right;
}
.popup__arrow--left .popup__arrow--top {
	transform: rotate(-45deg);
	transform-origin: bottom left;
	right: 0;
}
.popup__arrow--left .popup__arrow--bottom {
	transform: rotate(45deg);
	transform-origin: top left;
	right:  0;
}
.popup__arrow--bottom:after {
	left: 0;
	right: 100%;
	transition-delay: 0.15s;
}
.popup__arrow:hover .popup__arrow--top:after {
	left: 0;
	transition-delay: 0.15s;
}
.popup__arrow:hover .popup__arrow--bottom:after {
	right: 0;
	transition-delay: 0s;
}
.popup__arrow:active {
	transform: translateX(-50%) translateY(-50%) scale(0.9);
} /*# sourceMappingURL=s.css.map */
.sidebar {
	width: 100vw;
	height: 100vh;
    z-index: 100000;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: absolute;
	background-color: rgb(19, 19, 19);

	top: -100vh;
	transition: top 0.4s;
}
.sidebar ul {
	list-style: none;
}
.sidebar ul li {
	margin-bottom: 20px;
	cursor: pointer;
}
.sidebar ul li a {
	color: #000;
}
.sidebar.is_active {
	top: 0;
}

/*-------------------------------------------------------------------------------------------------*/
#clickMenu {
	width: 35px;
	height: 20px;
	padding: 20px 0;
	position: relative;
	z-index: 1999119;

	cursor: pointer;
	top: 20px;
	left: 20px;
}
#menu {
	z-index: 99;
	float: right;
	cursor: pointer;
	border-radius: 4px;
	width: 35px;
	height: 3px;
	position: relative;
	background-color: #ffffff;
}
#menu::before,
#menu::after {
	border-radius: 4px;
	content: "";
	display: block;
	position: absolute;
	width: 35px;
	height: 3px;
	background-color: #ffffff;
}
#menu::after {
	transition-duration: 0.5s;
	top: 10px;
}
#menu::before {
	transition-duration: 0.5s;
	top: -10px;
}

#menu.is_active {
	transition-duration: 0.5s;
	transform: rotate(45deg);
    background-color: rgb(255, 199, 149);
}
#menu.is_active::before {
	transition-duration: 0.5s;
	transform: translate3d(-4px, -9px, 10px);
	opacity: 0;

}
#menu.is_active::after {
	transition-duration: 0.5s;
	top: 0;
	transform: rotate(-90deg);
    background-color: rgb(255, 199, 149);
}
nav{
    position: absolute;
    top: 0;
    z-index: 1000000;
    display: none;
}

@media all and (max-width: 850px) {
    body::-webkit-scrollbar-thumb {
        display:none;
    
    
    
    }
    
    body::-webkit-scrollbar-track-piece
    {
        display:none;
        
    }
    
    body::-webkit-scrollbar {
        display:none;
    
    }
    
    
    
    
    
    
    .top{
        display:none;
        
    }
    .main-img{
        margin-top: 0px;
        width: 200%;
        margin-left: -100%;


    }
    
    .offer-img{
        width: 200%;
        height: 200vh;
        margin-left: -100%;

    }   

    .offer{
        margin-top: -100vh;
    }
    .slogan h1{
        font-size: 6.5vw;
        top:50vw;
    }
    .slogan h2{
        font-size: 3.5vw;
        top: 58vw;
        

    }
    .offer h1{
        font-size: 8vw;
    }
    .under h3::after { 
        height: 3px;
    
    }
    .each{
        font-size:3.5vw ;
    }
    .each img{
        width: 10vw;
    }
    .under h3{
        font-size: 3vw;
    }
    .quality img{
        width: 170%;
        margin-left: -70%;
    }
    .quality_tex h1{
        font-size: 5vw;
    }
    .quality_tex h2{
        font-size: 2.5vw;
        width: 50%;
    }
    .gallery .thumbnail:nth-last-child(-n +3){
        display: none;
    }

    .contact-left{
       padding-bottom: 40px;
       width: 100%;
       padding-left:3%;
        
    }
    .socials{
        text-align: center;
    }
    .contact-right{
        width: 100%;
        text-align: center;
    }
    .thumbnail{
        margin:20px;
    }
    nav{
        position: fixed;
        display: unset;
    }
    footer{
   
        padding-right: 0;
        
    }
}
@media all and (max-width: 430px) {

    footer{
        font-size: 4vw;
    }
    .contact-left h2,.contact-left a {

        font-size: 4.8vw;

         
     }
     #map{
        height:60vw;
     }
}






















